<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431077842368-kvsed0guibafsdehf5nloe9u4na5kvbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431077842368-kvsed0guibafsdehf5nloe9u4na5kvbi</string>
	<key>API_KEY</key>
	<string>AIzaSyDqiDdmtc_iYB5YN2jZsRs9gXP0iTFx0gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>431077842368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>logintutorial-b949a</string>
	<key>STORAGE_BUCKET</key>
	<string>logintutorial-b949a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431077842368:ios:f8557bb27689a7a0d1fc25</string>
</dict>
</plist>